/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and Game Layout */
body {
  background-color: #f1e5d8;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  background-image: url('assets/images/grass_background.png'); /* Custom background image */
  background-size: cover;
}

#gameContainer {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7); /* Light background behind content */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#header h1 {
  font-size: 30px;
  font-weight: bold;
  color: #3b3a30;
  text-transform: uppercase;
}

#header p {
  font-size: 18px;
  color: #3b3a30;
  margin-bottom: 20px;
}

#eggContainer {
  margin-top: 30px;
  text-align: center;
}

#egg {
  width: auto; 
  height: auto;
  max-width: 300px;
  max-height: 450px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

#eggText {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.buttons {
  margin-top: 30px;
}

button {
  background-color: #f0c441;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  transition: all 0.2s ease;
  display: none;
  border-radius: 20px;
}

button:hover {
  background-color: #e5b33d;
}

button:focus {
  outline: none;
}

/* Footer Styling */
#footer {
  margin-top: 40px;
}

#footer a {
  margin: 0 10px;
  color: #333;
  font-size: 18px;
  text-decoration: none;
}

#footer a:hover {
  color: #f0c441;
}

/* Popup Styling */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 2px solid #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1000;
  width: 250px;
  border-radius: 8px;
}

.popup h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.popup button {
  background-color: #f0c441;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  transition: all 0.2s ease;
}

.popup button:hover {
  background-color: #e5b33d;
}

.popup button:focus {
  outline: none;
}
