/* Reset all margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  background-color: #f1e5d8;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

#eggContainer {
  text-align: center;
}

#egg {
  width: auto; /* Remove fixed width */
  height: auto; /* Remove fixed height */
  max-width: 300px; /* Limit max width */
  max-height: 450px; /* Limit max height */
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  background-size: auto; /* Ensure the image is displayed in original size */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

#eggText {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.buttons {
  margin-top: 30px;
}

button {
  background-color: #f0c441;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  transition: all 0.2s ease;
  display: none; /* Hide buttons initially */
}

button:hover {
  background-color: #e5b33d;
}

button:focus {
  outline: none;
}

/* Popup styling */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 2px solid #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1000;
  width: 250px;
  border-radius: 8px;
}

.popup h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.popup button {
  background-color: #f0c441;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  transition: all 0.2s ease;
}

.popup button:hover {
  background-color: #e5b33d;
}

.popup button:focus {
  outline: none;
}

